.Content {
  display: flex;
  flex-direction: row;
  position: relative;

  &__main {
    box-sizing: border-box;
    width: 75%;
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid lightslategray;

    &__members {
      margin-bottom: 24px;
      &__title {
        span {
          font-weight: 600;
          size: 16px;
          line-height: 20px;
          vertical-align: middle;
          margin-left: 30px;
        }
      }
      &__list {
        margin: 5px 0 0 30px;
        display: flex;
        img {
          cursor: pointer;
          display: inline-block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin: 0 1px;
        }
        span {
          cursor: pointer;
          margin-left: 3px;
          width: 32px;
          height: 32px;
        }
      }
    }

    &__desc {
      margin-bottom: 24px;
      &__title {
        span {
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
        #title {
          font-weight: 600;
          size: 16px;
          line-height: 20px;
        }
        #btnEdit {
          background-color: rgb(181, 181, 181);
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 2px;
        }
      }
      &__detail {
        p {
          margin: 5px 30px;
        }
        input {
          width: 100%;
          padding: 5px;
        }
        input:focus {
          background-color: lightgrey;
        }
      }
      &__deadline {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        &__create {
          display: flex;
          h3 {
            margin-right: 5px;
          }
        }
        &__finish {
          display: flex;
          h3 {
            margin-right: 5px;
          }
        }
      }
    }

    &__work {
      margin-bottom: 24px;

      &__title {
        display: flex;
        span {
          vertical-align: middle;
          margin: 0 10px 0 0;
          padding-top: 5px;
        }
        #btnDelete {
          margin-left: auto;
          border: 1px solid lightgrey;
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 2px;
        }
        #btnDelete:hover {
          color: dodgerblue;
          border: 1px solid dodgerblue;
        }
      }
      &__detail {
        &__item {
          display: flex;
          flex-direction: row;
          margin-top: 5px;

          &__remove {
            margin-left: auto;
            height: fit-content;
            width: fit-content;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2px;
            padding: 5px;
            display: flex;
          }

          &__text {
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }

    &__actions {
      &__title {
        display: flex;
        span {
          vertical-align: middle;
          margin: 0 10px 0 0;
          padding-top: 5px;
        }
        #btnHide {
          margin-left: auto;
          border: 1px solid lightgrey;
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 2px;
        }
        #btnHide:hover {
          color: dodgerblue;
          border: 1px solid dodgerblue;
        }
      }
      &__detail {
        &__content {
          display: flex;
          flex-direction: row;
          margin: 5px 0;
          img {
            cursor: pointer;
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
          &__time {
            margin-left: 10px;
            p {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
  &__sidebar {
    box-sizing: border-box;
    width: 25%;
    margin-left: 5px;
    span {
      margin: 2px;
    }
    &__button {
      display: flex;
      flex-direction: column;
      &__item {
        background-color: rgb(181, 181, 181);
        cursor: pointer;
        border-radius: 2px;
        text-align: left;
        padding: 6px 12px;
        margin: 3px 0;
        span {
          vertical-align: middle;
        }
      }
    }
  }
}
