.Table {
  padding: 16px 16px 0px 16px;
  &__Workspace {
    border-bottom: 3px solid #8f8f8f;
    text-align: center;
    &__Input {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      width: fit-content;
      background-color: inherit;
    }
  }
  &__Title {
    span {
      vertical-align: middle;
    }
    span:first-child {
      padding-top: 5px;
    }
    span:last-child {
      font-size: 2rem;
      font-weight: 700;
    }
  }
  &__Content {
    @apply my-4 grid gap-4;
    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
    &__Item {
      height: 92px;
      position: relative;
      &__Non {
        @apply bg-gray-100 rounded-sm p-4 cursor-pointer;
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        height: 100%;
        h1 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 700;
          font-size: large;
          width: 100%;
        }
      }
      &__Non:hover {
        @apply hover:shadow-xl transition-shadow duration-500;
        span {
          opacity: 1;
          transform: translateX(0%);
          transition-duration: 0.3s;
        }
      }
      &__Non:last-child {
        p {
          height: 100%;
          text-align: center;
          vertical-align: middle;
          margin: 0;
          padding: inherit;
          span {
            font-weight: 700;
            font-size: large;
            text-align: center;
            width: max-content;
            opacity: 1;
            transform: translateX(0%);
            vertical-align: middle;
          }
          svg:hover {
            color: unset;
          }
        }
      }
      &__Non:last-child:hover {
        transform: translateY(5%);
        transition: 0.3s;
      }

      &__Star {
        @apply bg-gray-100 rounded-sm p-4 cursor-pointer;
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        height: 100%;
        h1 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 700;
          font-size: large;
          width: 100%;
        }
      }
      &__Star:hover {
        @apply hover:shadow-2xl transition-shadow duration-500;
      }
      &__Icon {
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: fit-content;

        .Filled {
          color: rgb(255, 179, 80);
          font-size: larger;
        }
        .Filled:hover {
          transform: scale(1.5);
          transition-duration: 0.3s;
        }

        .Outline {
          transform: translateX(5%);
          opacity: 0;
          font-size: larger;
        }
        .Outline:hover {
          color: rgb(255, 179, 80);
        }
      }
    }
    &__Item:hover {
      transform: translateY(5%);
      transition-duration: 0.3s;
      .Outline {
        opacity: 1;
        transform: translateX(0%);
        transition-duration: 0.3s;
      }
    }
  }
  &__UserList {
    margin-left: 30px;
    img {
      cursor: pointer;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
.InputTable {
  input {
    background-color: lightgrey;
    height: 30px;
    width: 100%;
  }
}
