@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    @apply flex relative
    bg-green-600 shadow-md text-white
    justify-between items-center
    px-10 py-2
    flex-col md:flex-row;
}

.navlinks {
    @apply hidden md:flex w-full md:w-auto;
}

.navlinks.active {
    @apply flex;
}

.navlinks ul {
    @apply space-x-10 m-0 p-0
    flex flex-col md:flex-row
    w-full md:w-auto;
}

.navlinks li {
    @apply list-none m-0 text-center;
}

.navlinks li a {
    @apply no-underline cursor-pointer block p-3
    rounded-md hover:bg-green-500;
}

.profile {
    @apply cursor-pointer p-3
    rounded-full hover:bg-green-500;
}

.menu {
    @apply cursor-pointer p-3
    rounded-md hover:bg-green-500
    inline md:hidden;
}
